<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <!-- Navbar component -->
    <head th:insert="~{index :: navbar}"></head>

    <div class="min-vh-100">
        <!-- Messaggi di successo e errore per funzionalità -->
        <div th:if="${resultMessage}">
            <div class="alert alert-success errorMessage">
                <p th:text="${resultMessage}"></p>
            </div>
        </div>
        <!-- DASHBOARD -->
        <!-- SEZIONE REVISIONI DA EFFETTUATE -->
        <div class="container-fluid intest">
            <div class="row ms-5 me-5 align-items-center">
                <div class="col-12 d-flex justify-content-center align-items-center my-3">
                    <h1 class="h1">Dashboard Revisor</h1>
                </div>
                <div class="col-12 my-5 d-flex justify-content-between align-items-center">
                    <h2 th:text="${title}">Articles to review</h2>
                </div>
                <div class="col-12">
                    <!-- Tabella per articoli da revisionare -->
                    <table class="table table-striped table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Subtitle</th>
                                <th>Category</th>
                                <th>#Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="article : ${articles}">
                                <td th:text="${article.id}"></td>
                                <td th:text="${article.title}"></td>
                                <td th:text="${article.subtitle}"></td>
                                <td th:if="${article.category}" th:text="${article.category.name}"></td>
                                <td th:unless="${article.category}">No category</td>
                                <td>
                                    <a th:href="@{/articles/revisor/detail/{id}(id=${article.id})}" class="btn btn-secondary m-2">
                                        Laws
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div> 
        <!-- SEZIONE REVISIONI EFFETTUATE -->
        <div class="container-fluid">
            <div class="row ms-5 me-5">
                <div class="col-12 min-vh-100">
                    <h2 class="h2 my-5" th:text="${titleReviewed}">Reviewed articles</h2>
                    <!-- Tabella per articoli revisionati -->
                    <table class="table table-striped table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Subtitle</th>
                                <th>Category</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="article : ${reviewedArticles}">
                                <td th:text="${article.id}"></td>
                                <td th:text="${article.title}"></td>
                                <td th:text="${article.subtitle}"></td>
                                <td th:if="${article.category}" th:text="${article.category.name}"></td>
                                <td th:unless="${article.category}">No category</td>
                                <td>
                                    <span th:if="${article.isAccepted}" class="badge bg-success">Accepted</span>
                                    <span th:unless="${article.isAccepted}" class="badge bg-danger">Rejected</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <head th:insert="~{index :: footer}"></head>
    <script th:insert="~{index :: bootstrapScript}"></script>

</body>

</html>
