<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <!-- NAVBAR -->
    <head th:insert="~{index :: navbar}"></head>
    <!-- FORM DI MODIFICA ARTICOLO -->
    <div class="container-fluid intest min-vh-100 mb-5">
        <div class="row ms-5 align-items-center">
            <!-- Header -->
            <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-3">
                <h1>Edit Article </h1>
                <h2 th:text="${article.title}">Title</h2>
            </div>
            <div class="col-12 my-5 d-flex flex-column justify-content-center align-items-center">
                <div class="form-container2">
                    <p class="title2">Edit Article</p>
                    <form method="post" th:action="@{/articles/update/{id}(id=${article.id})}" th:object="${article}"
                        enctype="multipart/form-data">
                        <!-- Titolo -->
                        <div class="mb-3">
                            <label for="articleTitle" class="form-label text-white">Title</label>
                            <input type="text" class="form-control input2" id="articleTitle"
                                placeholder="Enter a Title for your Article" th:field="*{title}" />
                            <p th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
                        </div>

                        <!-- Subtitle input -->
                        <div class="mb-3">
                            <label for="subtitle" class="form-label text-white">Subtitle</label>
                            <input type="text" class="form-control input2" id="subtitle"
                                placeholder="Enter a Subtitle for your Article" th:field="*{subtitle}" />
                            <p th:errors="*{subtitle}" class="text-danger" th:if="${#fields.hasErrors('subtitle')}"></p>
                        </div>

                        <!-- Body input -->
                        <div class="mb-3">
                            <label for="body" class="form-label text-white">Body</label>
                            <input type="text" class="form-control input2" id="body" placeholder="Write your Article"
                                th:field="*{body}" />
                            <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
                        </div>

                        <!-- Publishing Date input -->
                        <div class="mb-3">
                            <label for="date" class="form-label text-white">Publish Date</label>
                            <input type="date" class="form-control input2" id="date" placeholder="(8 char max) YYYY/MM/GG"
                                th:field="*{publishDate}" />
                            <p th:errors="*{publishDate}" class="text-danger"
                                th:if="${#fields.hasErrors('publishDate')}">
                            </p>
                        </div>

                        <!-- Price input -->
                        <div class="mb-3">
                            <label for="price" class="form-label text-white">Price</label>
                            <input type="number" class="form-control input2" id="price" placeholder="Enter the price in EUR"
                                th:field="*{price}" step="1" min="1" max="1000" />
                            <p th:errors="*{price}" class="text-danger" th:if="${#fields.hasErrors('price')}"></p>
                        </div>

                        <!-- Category input -->
                        <div class="mb-3">
                            <label for="category" class="form-label text-white">Category</label>
                            <select id="category" th:field="*{category}" class="form-select input2">
                                <option th:each="category:${categories}" th:value="${category.id}"
                                    th:text="${category.name}">
                                </option>
                                <p th:errors="*{category}" class="text-danger" th:if="${#fields.hasErrors('category')}">
                                </p>
                            </select>
                        </div>

                        <!-- Last image -->
                        <div class="mb-3 d-flex flex-column" th:if="${article.image != null}">
                            <label for="image" class="form-label text-white">Image</label>
                            <img th:src="${article.image.path}" id="image" alt="${article.image.path}">
                        </div>
                        <div th:unless="${article.image != null}">
                            <label for="image" class="form-label text-white">Image</label>
                            <p>Image not found</p>
                        </div>

                        <!-- Image edit -->
                        <div class="mb-3">
                            <label for="image" class="form-label text-white">Image</label>
                            <input type="file" name="file" id="image" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn mb-3 form-btn2 w-100">Edit Article</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <head th:insert="~{index :: footer}"></head>
    <script th:insert="~{index :: bootstrapScript}"></script>
</body>

</html>