<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}">
    <title>Dashboard - SmartBay</title>
</head>

<body>

    <!-- NAVBAR -->
    <header th:insert="~{index :: navbar}"></header>

    <!-- DASHBOARD -->
    <div class="container-fluis min-vh-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center my-5">
                <h2 class="smartbay-header">Welcome <span th:text="${user.username}">Utente</span> to your Dashboard</h2>
                <p class="smartbay-subtext">Manage your account and view your details</p>
            </div>
            <div class="col-12 form-container3">
                <p class="title1">Personal Information</p>
                <form method="get" role="form" th:object="${user}">
                    <div class="mb-4 text-center text-white dim">
                        <i class="fa-solid fa-circle-user fa-5x"></i>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control input1" id="firstName" name="firstName"
                            placeholder="First Name" th:field="${user.username}" th:attr="disabled=${true}" />
                        </p>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control input1" id="email" name="email"
                            placeholder="Enter Email Address" th:field="${user.email}" th:attr="disabled=${true}" />
                    </div>
                    <div class="mb-3 text-white">
                        <strong>Roles:</strong>
                        <ul class="mb-0">
                            <li th:each="role : ${user.roles}" th:text="${role.name}">ROLE_USER</li>
                        </ul>
                    </div>
                    <div class="mb-3 text-white">
                        <strong>Balance:</strong>
                        <span th:text="${#numbers.formatDecimal(user.balance, 1, 2)}">0.00</span> €
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <a th:href="@{#}" class="btn btn-smartbay btn-lg mx-1">Set Balance</a>
                        <a th:href="@{/articles}" class="btn btn-success btn-lg mx-1">Go to Shop</a>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!-- FOOTER -->
    <footer th:insert="~{index :: footer}" class="smartbay-footer mt-5"></footer>
    <script th:insert="~{index :: bootstrapScript}"></script>

</body>

</html>