body {
    background-color: white;
}

/* Messaggi di errore */
.errorMessage {
    margin-top: 80px;
    z-index: 99;
}

.errorMessageLR {
    margin-top: -20px;
    z-index: 99;
}

/* Badge su icona carrello */
.badge {
    position: relative;
    top: -10px;
    left: -12px;
}

/* Spaziatura intestazioni */
.intest {
    margin-top: 100px;
}

/* Immagini card prodotto */
.imgCard {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* ============================== */
/* ======= BRANDING SMARTBAY ==== */
/* ============================== */

/* NAVBAR */
.smartbay-navbar {
    background-color: #001D3D;
    border-bottom:2px solid #FFD60A;
}

.smartbay-navbar a {
    color: #ffffff ;
}

.smartbay-navbar a:hover {
    color: #FFD60A ;
}

/* HEADER TESTO */
.smartbay-header {
    color: #001D3D;
    font-size: 2.5rem;
    font-weight: bold;
}

.smartbay-subtext {
    color: #555;
}

/* CARD centrale (form registrazione/login) */
.register-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 15px;
}

/* Pulsante SmartBay */
.btn-smartbay {
    background-color: #FFC300;
    border: none;
    color: #001D3D;
    font-weight: bold;
}

.btn-smartbay:hover {
    background-color: #003566;
    color: #000814;
}

/* Label campi form */
.form-label {
    color: #000814;
}

/* Link */
a {
    color: #003566;
}

a:hover {
    color: #001D3D;
}

/* Campi input */
.form-control {
    background-color: #f0f0f0;
    color: #000;
    border: 1px solid #FFD60A;
}

.form-control::placeholder {
    color: #888;
}

/* FOOTER */
.smartbay-footer {
    background-color: #000814;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
}

.lifooter {
    list-style-type: none;
}

.colorFooterWorkButton {
    background-color: #FFC300;
    color: #ffffff ;
}

.colorFooterWorkButton:hover{
    background-color: #ffffff;
    color: #FFC300;
}

.card {
 width: 190px;
 height: 300px;
 padding: .8em;
 background: #001D3D;
 box-shadow: 0 1px 3px #FFC300, 0 1px 2px #FFD60A;
}

.card-img {
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
}

.card-info {
 padding-top: 10%;
}

.card-footer {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 10px;
 border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
 font-weight: 900;
 font-size: 1.2em;
 line-height: 1.5;
}

.text-body {
 font-size: .9em;
 padding-bottom: 10px;
}


/*Hover*/
.card-img:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
