<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <!-- NAVBAE -->
    <head th:insert="~{index :: navbar}"></head>
    <!-- MOIFICA CATEGORIA -->
    <div class="vh-100 intest">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5 d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-center align-items-center my-3 flex-grow-1">
                        <h1 th:text="${title}">Edit category</h1>
                    </div>
                </div>

                <div class="col-12 my-5">
                    <!-- FORM PER LA MODIFICA -->
                    <form method="post" th:action="@{/categories/update/{id}(id=${category.id})}" th:object="${category}">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="name" class="form-label">Category Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter a name of category" th:field="*{name}"/>
                                <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>
                            </div>
                        </div>
                        <!-- BUTTON PER MOIFICARE LA CATEGORIA -->
                        <button type="submit" class="btn btn-success">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <head th:insert="~{index :: footer}"></head>
    <script th:insert="~{index :: bootstrapScript}"></script>
</body>

</html>